#=======(data)===============================
*.mp4
*.mov
*.avi
*.mkv
*


#=======(virtual environment)==================
tf_env_python3.10/
.venv/
venv/
env/

#========(files)
*NHIRD_IRB_separate.pdf


#note: (1)在資料夾後，加上"/" (2)或在檔案前，加上"*"